@model SimionatoChefBusiness.Models.View.ProdutoView
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" SimionatoChefStyle="IE=edge">
    <title>SimiInfo | Estoque </title>
    <link rel="icon" href="~/SimionatoChefStyle/img/iconSIMI.png" type="image/x-icon">
    <meta SimionatoChefStyle="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/SimionatoChefStyle/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/iCheck/all.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/SimionatoChefStyle/dist/css/modal.css">
    <script type="text/javascript" src="~/SimionatoChefStyle/plugins/datatables/datatables.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/select2/select2.full.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/SimionatoChefStyle/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/SimionatoChefStyle/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/SimionatoChefStyle/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/SimionatoChefStyle/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/SimionatoChefStyle/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/iCheck/icheck.min.js"></script>
    <script src="~/SimionatoChefStyle/plugins/fastclick/fastclick.js"></script>
    <script src="~/SimionatoChefStyle/dist/js/app.min.js"></script>
    <script src="~/SimionatoChefStyle/dist/js/demo.js"></script>
    <script src="~/SimionatoChefStyle/dist/js/mascaraData.js"></script>
    <script src="~/SimionatoChefStyle/dist/js/MascaraM.js"></script>
    <script src="~/SimionatoChefStyle/dist/js/pesquisarProduto.js"></script>
    <!-- Page script -->
</head>
<body class="hold-transition skin-red-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="../../Dashboard" class="logo">
                <span class="logo-mini"><b>Simi</b>Info</span>
                <span class="logo-lg"><b>Simi</b>Info</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Menu</span> </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li> <a href="../../Login/Logoff"> <i class="glyphicon glyphicon-log-out"></i> </a> </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="main-sidebar">
                    <div class="sidebar">
                        <div class="user-panel">
                            <div class="pull-left image"> <img src="~/SimionatoChefStyle/img/user_icon.png"></div>
                            <div class="pull-left info">
                                <p>@Html.DisplayFor(model => model.Usuario.Nome)</p>
                                <a href="#"><i class="text-success"></i>@Html.DisplayFor(model => model.Usuario.Cargo)</a>
                            </div>
                        </div>
                        <ul class="sidebar-menu">
                            <li> <a href="../../Dashboard"> <i class="glyphicon glyphicon-home"></i> <span>Inicio</span></a>
                            <li>
                                <a href="#"> <i class="	glyphicon glyphicon-shopping-cart"></i> <span>Vendas</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                <ul class="treeview-menu">
                                    <li><a href="../../Venda/CriarVenda"><i class="fa fa-circle-o"></i> Criar Venda</a></li>
                                    <li><a href="../../Venda/MinhasVendas"><i class="fa fa-circle-o"></i> Minhas Vendas</a></li>
                                </ul>
                            </li>

                            <li class="active treeview">
                                <a href="#"> <i class="glyphicon glyphicon-glass"></i> <span>Estoque</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                <ul class="treeview-menu">
                                    <li class="active treeview"><a href="../../Produto"><i class="fa fa-circle-o"></i> Produtos</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-usd"></i> <span>Financeiro</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="../../Financeiro/RelatorioVendas">
                                            <i class="fa fa-circle-o"></i> Relatório de Vendas
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Configurações</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="../../Cliente">
                                            <i class="fa fa-circle-o"></i> Clientes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../../Usuario">
                                            <i class="fa fa-circle-o"></i> Usuários
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </aside>
        <!--Aqui termina o Menu -->
        <!--Começo conteudo da página-->
        <div class="content-wrapper">
            @if (@ViewBag.Mensagem != null)
            {
                <div class="box">
                    <div class="callout callout-warning">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-warning" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Fechar">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <h4>Atenção!</h4>
                        <p>
                            Não foi possivel Salvar o produto. <br />
                            Mótivo: @ViewBag.Mensagem
                        </p>
                    </div>
                </div>
            }
            @if (@ViewBag.Sucesso != null)
            {
                <div class="box">
                    <div class="callout callout-success">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-success" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Fechar">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <h4>Informativo!</h4>
                        <p>
                            @ViewBag.Sucesso
                        </p>
                    </div>
                </div>
            }
            <section class="content-header">
                <h1>
                    Produtos
                    <small>Inserir Produtos</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="Dashboard"><i class="fa fa-dashboard"></i> Inicio</a></li>
                    <li><a href="#">Estoque</a></li>
                    <li class="active">Produtos</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Cadastrar Produtos</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div class="box-tools">
                                    <form id="produto_pesquisa" name="produto_pesquisa" action="~/Content/pesquisar_produto" method="post">
                                        <div class="input-group input-group-sm" style="width:150px; ">
                                            <input type="hidden" name="produto_pesquisa_id" id="produto_pesquisa_id" class="form-control pull-right" placeholder="Pesquisar pelo ID">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-body">
                                <form id="SalvarProduto" name="SalvarProduto" action="/Produto/Salvar" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name">Nome do Produto</label>
                                                <input type="hidden" id="id" name="id" value="@Html.DisplayFor(model => model.Produto.Id)">
                                                <input type="text" class="form-control" id="nome" name="nome" value="@Html.DisplayFor(model => model.Produto.Nome)" placeholder="Nome Completo">
                                            </div>
                                            <div class="form-group">
                                                <label>Descritivo do Produto</label>
                                                <textarea class="form-control" id="descricao" name="descricao" rows="5" placeholder="Descrição ...">@Html.DisplayFor(model => model.Produto.Descricao)</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        R$:
                                                    </div>
                                                    <input type="text" class="form-control" id="valor" name="valor" value="@Html.DisplayFor(model => model.Produto.Valor)" placeholder="Valor" onKeyPress="return(MascaraMoeda(this, '', ',', event))">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Quantidade</label>

                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="quantidade" value="@Html.DisplayFor(model => model.Produto.Quantidade)" name="quantidade" placeholder="Quantidade">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Categoria</label>
                                                <select class="form-control" name="categoria" id="categoria" value="@Html.DisplayFor(model => model.Produto.Categoria)" tabindex="11" style="width: 100%; ">
                                                    <option value="produto">Produto</option>
                                                    <option value="prato">Prato</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">&nbsp;</label>
                                                <button type="button" data-toggle="modal" data-target="#modalSalvarProduto" class="btn btn-block btn-primary btn-sm"><i class="fa fa-save"></i> Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal de Salvar Prato-->
                                    <div class="modal fade" id="modalSalvarProduto" tabindex="-1" role="dialog" aria-labelledby="modalSalvarUsuarioLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="modalSalvarCliente">Você deseja salvar o Produto?</h4>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" id="Salvar" name="Salvar" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Termina Modal de Salvar Cliente -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Lista de Produtos</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="lista_produtos" class="display table table-hover" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nome</th>
                                                    <th>Qtd</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var element in Model.ListaProdutos)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(m => element.Id)</td>
                                                        <td>@Html.DisplayFor(m => element.Nome) </td>
                                                        <td>@Html.DisplayFor(m => element.Quantidade)</td>
                                                        <td>@Html.DisplayFor(m => element.Valor)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.1
            </div>
            <strong>Copyright &copy; 2016-@DateTime.Now.Year <a href="#">Gustavo Simionato</a>.</strong> Todos os Direitos Reservados.
        </footer>
    </div>
</body>

</html>
